





<div class="apply_banner"><img src="Content/images/apply-job-banner.png" width="693" height="200" /></div>
<div class="desc_menu">
    <ul>
        <li><a href="#">Featured Postings</a></li>
        <li><a href="#">Recent Posted Job</a></li>
        <li><a href="#">Newspaper Jobs</a></li>
        <li><a href="#">Search Job</a></li>
    </ul>
</div>
<div class="job_detail_sec">
    <div class="job_detail_top"></div>
    <div class="job_detail_bg">
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="job_row">
            <div class="company_name">
                <div class="company">Alchemy Digital Media Group</div>
                <div class="post">Search Engine Optimization (SEO)s</div>
            </div>
            <div class="day_left">28 days left</div>
            <div class="apply">[apply]</div>
        </div>
        <div class="page_num">
            <div class="page_text">	Page: </div>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </div>
        <div class="clean"></div>
    </div>
    <div class="clean"></div>
    <div class="job_detail_btm"></div>
    <div class="clean"></div>
</div>
<div class="desc_menu">
    <ul>
        <li><a href="#">Job By Category</a></li>
    </ul>
</div>
<div class="job_cat_sec">
    <div class="job_cat_top"></div>
    <div class="job_cat_bg">
        <div class="cat_link">
            <ul>
                <li><a href="#">Accounting / Finance(13)</a></li>
                <li><a href="#">     Architecture / Interior Designing(0)</a></li>
                <li><a href="#">     Banking / Insurance /Financial Services(0)</a></li>
                <li><a href="#">     Commercial / Logistics / Supply Chain(0)</a></li>
                <li>     <a href="#">Construction / Engineering / Architects(5)</a></li>
                <li><a href="#">     Creative / Graphics(8)</a></li>
                <li><a href="#">     Fashion / Textile Designing(0)</a></li>
                <li><a href="#">     General Mgmt. / Administration / 		     Operations(11)</a></li>
                <li><a href="#"> Healthcare / Pharma / Biotech / Medical /        	     R&D(4)</a></li>
                <li>					          <a href="#">Human Resource /Org. Development(1)</a></li>
                <li>							  <a href="#">IT & Telecommunication(24) </a></li>
            </ul>
            <div class="clean"></div>
        </div>
        <div class="cat_link_right">
            <ul>
                <li><a href="#">Accounting / Finance(13)</a></li>
                <li><a href="#">     Architecture / Interior Designing(0)</a></li>
                <li><a href="#">     Banking / Insurance /Financial Services(0)</a></li>
                <li><a href="#">     Commercial / Logistics / Supply Chain(0)</a></li>
                <li>     <a href="#">Construction / Engineering / Architects(5)</a></li>
                <li><a href="#">     Creative / Graphics(8)</a></li>
                <li><a href="#">     Fashion / Textile Designing(0)</a></li>
                <li><a href="#">     General Mgmt. / Administration / 		     Operations(11)</a></li>
                <li><a href="#"> Healthcare / Pharma / Biotech / Medical /        	     R&D(4)</a></li>
                <li>					          <a href="#">Human Resource /Org. Development(1)</a></li>
                <li>							  <a href="#">IT & Telecommunication(24) </a></li>
            </ul>
            <div class="clean"></div>
        </div>
        <div class="clean"></div>
    </div>
    <div class="clean"></div>
    <div class="job_cat_btm"></div>
</div>
<div class="add-google_box">
    <div class="add_google_top">

    </div>
    <div class="add_google_bg">
        <div class="add_google_title">Add by Google</div>
        <div class="left_right_icon"><img src="Content/images/add-google-left.jpg" width="16" height="16" /><img src="Content/images/add-google-right.jpg" width="16" height="16" /></div>
        <div class="clean"></div>
        <div class="google_add_title1"><a href="#">Rent Offices in Plymouth</a></div>
        Modern Suites from 100 to 4300 Sqft Competitive Prices, Forresters
        <div class="add_link">http://www.officesinplymouth.co.uk/</div>

        <div class="google_add_title1"><a href="#">Rent Offices in Plymouth</a></div>
        Modern Suites from 100 to 4300 Sqft Competitive Prices, Forresters
        <div class="add_link">http://www.officesinplymouth.co.uk/</div>
        <div class="google_add_title1"><a href="#">Rent Offices in Plymouth</a></div>
        Modern Suites from 100 to 4300 Sqft Competitive Prices, Forresters
        <div class="add_link">http://www.officesinplymouth.co.uk/</div>

        <div class="clean"></div>

    </div>
    <div class="clean"></div>
    <div class="add_google_btm"></div>
</div>

<div class="job_detail_sec">
    <div class="job_detail_top"></div>
    <div class="job_detail_bg">
        <h3>	Hot Employer</h3>
        <div class="hot_Content/images_sec">
            <img src="Content/images/tata-img.jpg" /><img src="Content/images/accenture-img.jpg" /><img src="Content/images/heart-age-img.jpg" /><img src="Content/images/lt-img.jpg" /><img src="Content/images/yellow-icon.jpg" /><img src="Content/images/acs-img.jpg" /><img src="Content/images/igate-img.jpg" /><img src="Content/images/rbs-img.jpg" /><img src="Content/images/deloitte-img.jpg" /><img src="Content/images/ericsson-img.jpg" /><img src="Content/images/tieto-img.jpg" /><img src="Content/images/philips-img.jpg" /><img src="Content/images/meritor-img.jpg" /><img src="Content/images/atkins-img.jpg" /><img src="Content/images/jpmorgan-img.jpg" /><img src="Content/images/airtel-img.jpg" /><img src="Content/images/rockywell-img.jpg" /><img src="Content/images/monster-img.jpg" />
        </div>

    </div>
    <div class="clean"></div>
    <div class="job_detail_btm"></div>
    <div class="clean"></div>
</div>